<p><marquee><font color="violet"><h1>GOODFOOD WELCOMES YOU</h1></font></marquee></p>
<p><marquee direction = "Right"><font color="orange"><h1>Have A Nice Day</h1></font></marquee></p>

Customer Id :    {{(customer | async)?.cusId}} <br/>
Customer Name :  {{(customer | async)?.cusName}}  <br/>
Customer Email : {{(customer | async)?.cusMailAdd}}  <br/>
Customer Mobile : {{(customer | async)?.cusPh}}<br/>
Customer Date Of Birth : {{(customer | async)?.cusDob}} <br/>
Customer Amount :  {{(customer | async)?.cusWallet}}<br/>
